<div class="questionnaier-container">
<%= form_with url: personality_test_result_path, method: :post do |form| %>
  <div data-controller="personality" id="data-question-<%= @question %>" class="question-container flex flex-col items-center">
    <h3 class="text-2xl font-bold text-center"><%= @question %></h3>
    <div class="option-container m-2">
      <% @options[session[:step]].each_with_index do |option, option_index| %>
        <label class="flex option justify-center items-center text-truncate rounded-lg shadow-sm mr-4 " data-index="<%= option_index %>" data-option="<%= option_index %>" >
        <% if option_index.zero? %>
          <span class="absolute  mb-32 lg:mb-56 bg-orange-500 text-white text-xs font-medium me-2 px-2.5 py-0.5 rounded" id="badge">Selected</span>
        <% end %>
          <span class="hidden absolute  mb-32 lg:mb-56 bg-orange-500 text-white text-xs font-medium me-2 px-2.5 py-0.5 rounded" id="badge">Selected</span>
          <span class="select-<%= option_index %> text-center font-bold"><%= option %></span>
        <%= form.radio_button :option, option_index, checked: option_index.zero?, style: "display: none;", class: "option-radio"%>
        </label>
      <% end %>
    </div>
  </div>
  <%=render 'personality_test/form_buttons' , questions:  @questions , form: form %>

<% end %>
</div>
